.dialog-container {
  position: absolute;
  inset: 0;
  display: flex;
  place-items: center;
  background: rgba(0, 0, 0, 0.1);
}

.dialog-container > dialog {
  width: 300px;
}
.dialog-container > dialog > input {
    width: 100%;
}

.dialog-container > dialog > menu {
    text-align: right;
}

/* Div containing all note cards */
.notecards-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 20px;
  align-items: center;
}

/* Individual Note cards */

.notecard {
  border: 1px solid #444444;
  border-radius: 10px;
  /* max-width: 800px; */
  width: 90%;
}

.notecard-header {
  background-color: #444444;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.5rem;
}

.notecard-header-main {
  display: flex;
  flex-grow: 1;
}

.notecard-header-button {
  margin-left: 10px;
}

.notecard-header-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  row-gap: 0.25rem;
}

.notecard-positions {
  font-size: large;
  font-weight:800 !important;

}

.notecard-channels {

}

.note-lights-table {
  max-height: 125px;
}

.notecard-types {
  /* background-color: #222222; */
  border-top: 1px solid #444444;
  border-radius: 0 0 8px 8px;
  font-size: 0.8rem;
  padding: 0.5rem;
}



/* .notecard {
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1rem;
} */

/* .type-checkbox-container {
  display: flex;
} */
/*

.ck-editor__editable_inline { width: 100% } */

/* .note-channels {
  background-color: red;
  width: 10rem;
} */

/* .select-types-modal {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #555555;
}
.modal-close-icon {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  transform: translate(50%,-50%);
} */
.select-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
